<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398584296646-sr4bedrtnjlhlet31uvr072srt0d91r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398584296646-sr4bedrtnjlhlet31uvr072srt0d91r4</string>
	<key>API_KEY</key>
	<string>AIzaSyAMItQg4Skz7gsWzY1SvQvTyA0eE5VakFI</string>
	<key>GCM_SENDER_ID</key>
	<string>398584296646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tamwink</string>
	<key>PROJECT_ID</key>
	<string>tamwink-95ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>tamwink-95ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398584296646:ios:c1285e5d68a799958e93c7</string>
	<key>DATABASE_URL</key>
	<string>https://tamwink-95ae5.firebaseio.com</string>
</dict>
</plist>